# Общие файлы
.DS_Store
.env
*.log

# Python / Backend
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
backend/.venv/
venv/
ENV/

# React / Frontend
node_modules/
dist/
build/
.eslintcache
frontend/node_modules/